:root {
    --color: #2E2F42;
    --second-text-color: #434455;
    --third-text-color: #4D5AE5;
    --first-btn-color: #FFFFFF;
    --second-btn-color: #4D5AE5;
    --background-color: #FFFFFF;
    --btn-backgroud-color: #F4F4FD;
    --pressed-state-color: #404BBF;
    --footer-text-color: #E7E9FC;
    --footer-background-color: #2E2F42;
    --btn-border-color: #E7E9FC;
    --second-background-color: #F4F4FD;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: var(--second-text-color);
    background-color: var(--background-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid var(--btn-border-color);
    outline: 2px solid tomato;
}

/*-----------Header-------------*/

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin: 24px 76px 23px 156px;
    outline: 2px solid crimson;
}

.logo-text {
    color: var(--color);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-list {
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;
        margin: 24px 332px 23px 0px;
        outline: 2px solid teal;
}

.header-list a {
    color: var(--color);
}
.header-list a:hover, .header-list a:focus {
    color: var(--pressed-state-color);
}

.address {
    font-style: normal;
    margin-right: 156px;
}

.address-list {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 0px;
    outline: 2px solid tomato;
    gap: 40px;
}

.address-link {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    list-style: none;
}

.address-link a:hover, .address-link a:focus {
    color: var(--pressed-state-color);
}

/*--------------------------Hero----------------------*/

.hero {
    background-color: #2e2f42;
    margin: 0px auto 137px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    outline: 2px solid violet;
}

.hero-title { 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    width: 496px;
    height: 116,6px;
    margin: 183.67px 0 46.64px 0;
    outline: 2px solid green;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--first-btn-color);
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    width: 169px;
    height:54,41px;
    margin: 0 0 182.67px 0;
    outline: 2px solid red;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}
/*-------------------------Main---------------------------*/

.credo {
    width: 1128px;
    margin: 0px auto 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.credo-title {
    display: none;
}

.credo-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 24px;
    outline: 2px solid crimson;
}

.credo-list-title {
    display: inline-block;
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color);
}

.credo-list-description {
    width: 264px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.strategy-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px; 
}

.punctuality-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.diligence-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.technologies-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.about-container {
    width: 1128px;
    display: flex;
    flex-direction: column;
    outline: 2px solid teal;
    margin: 0px auto 120px;
}
.about-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color);
    margin: 0px auto 72px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.about-list-monitor {
    display: block;
}

.about-list-cellphones {
    display: block;
}

.about-list-synchro {
    display: block;
}

/*--------------TEAM---------------------*/
.team {
    background: var(--second-background-color);
}

.team-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    outline: 2px solid orangered;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:var(--color);
    margin: 0px auto 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin: 0 156px 120px;
}

.card-background {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color);
    margin: 32px auto 8px;
}

.team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin: 0px auto 32px;
}

/*-------------Footer---------------*/

.footer {
    width: 1440px;
    margin: 0 auto;
    background-color: var(--footer-background-color);
    outline: 2px solid yellow;
}

.footer-logo-items {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px 156px;
    padding-top: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

.footer-logo-text {
    color:var(--btn-backgroud-color);
    width: 115px;
    height: 22px;
}


.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--footer-text-color);
    width: 264px;
    height: 72px;
    margin-bottom: 100px;
}

/*---------------------Portfolio Page---------------------*/

portfolio-body {
    margin: 0 auto;
    font-family:"Roboto", sans-serif;
    color: var(--second-text-color) ;
    background-color: var(--background-color);
}


.portfolio-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-left: 156px;
}

.logo-text {
    color: var(--color);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    /*width: 1440 px;
    height: 71px;*/
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 24px 332px 23px 76px;
}


.nav-list a {
    color: var(--color);
}

.nav-list a:hover, .nav-list a:focus {
    color: var(--pressed-state-color);
}

.address-list {
    font-style: normal;
}

.address-list a:hover, .address-list a:focus {
    color: var(--pressed-state-color);
}

.portfolio-title {
    display: none;
}
/*-----------------buttons------------*/ 

.btn-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    outline: 2px solid teal;
}

.btn {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--second-btn-color);
        background-color: var(--btn-backgroud-color);
        border: 1px solid var(--btn-border-color);
        border-radius: 4px;
        cursor: pointer;
        margin: 96px auto 72px;
}

.btn:hover, .btn:focus {
    color: var(--first-btn-color);
    background-color: var(--pressed-state-color);
}

/*----------portfolio cards----------*/
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin: 0 156px;

}
.item-title {
    font-weight: 500;   
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color:var(--color);
}

.banking-card-content {

}

.item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.portfolio-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

.footer-logo-text {
    color: #F4F4FD;
}






